.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 100;
 }
 /* // Sits in the top left corner and set to fixed so you can not scroll it away.
   z-index property specifies the stack order of an element. */