html,
body,
#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}

$blue_theme: #8ed1f6;;
//Root Container
.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-controller {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 24em;
    min-width: 21em;
    height: 35px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    margin-bottom: 30px;
    align-items: center;
    transition: visibility 0.5s ease-out;
}

.controller {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 2;
    cursor: pointer;
}

//Currently Selected Controller
.selected-controller {
    transition: border 0.5s ease-out;
    border-bottom: 2px solid $blue_theme;
}

.box-container {
    display: flex;
    flex-direction: column;
    max-width: 24em;
    min-width: 21em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 24px;
}

.inner-container {
    transition: visibility 0.2s ease-out;
    
}

.inner-container.show {
    visibility: visible;
}

//Header
.header {
    text-align: center;
    padding: 5px;
    margin-bottom: 17px;
    /* margin-left: 35px; */
    /* margin-right: 35px; */
    font-family:  Montserrat, sans-serif;
    font-size: 22px;
    border-bottom: 2px solid $blue_theme;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    margin-bottom: 4px;
}

//Label
.login-label {
    font-family:  Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}

//Input
.login-input {
    height: 2.5em;
    border-radius: 3px;
    border: 1px solid $blue_theme;
    transition: border 0.4s ease-out;
    padding: 18px;
    font-family:  Montserrat, sans-serif;
    font-size: 19px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
    border: 2px solid $blue_theme;
}

.login-input:focus {
    border: 2px solid #6565e7;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

//Input Placeholder
.login-input::placeholder {
    font-family:  Montserrat, sans-serif;
    font-size: 16px; //color: rgba(46, 213, 116, 0.839);
    color: rgba(15, 15, 15, 0.4);
}

.login-btn {
    padding: 5px 45px;
    background-color: #417cef;
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    background-color: #00a894;
    margin-top: 3px;
    border: 2px solid #00a894;;
    transition: background-color 0.3s ease-out;
    cursor: pointer; 
}

.login-btn2 {
   padding: 9px 107px;
   /* background-color: #417cef; */
   border: 0;
   font-size: 18px;
   border-radius: 3px;
   font-family: Montserrat, sans-serif;
   background-color: #00a894;
   margin-top: 20px;
   border: 2px solid #acece5;
   transition: background-color 0.3s ease-out;
   cursor: pointer;
}

.login-btn3 {
   padding: 2px 75px;
   /* background-color: #417cef; */
   border: 0;
   font-size: 16px;
   border-radius: 3px;
   font-family: Montserrat, sans-serif;
   background-color: #00a894;
   margin-top: 15px;
   border: 2px solid #acece5;
   transition: background-color 0.3s ease-out;
   cursor: pointer;
}



.login-btn:hover,
.login-btn:focus {
   background-color:  #009688;
   color: #009688;
}

.login-btn2:hover,
.login-btn2:focus {
   background-color:  #009688;
   color: #acece5;
}

.login-btn3:hover,
.login-btn3:focus {
   background-color:  #009688;
   // color: #acece5;
}



.Button4 {
   font-size: 3em;
   width: 60%;
   height: 30%;
   border-radius: 12px;
   background-color: #009688;
   border: 4px solid grey;
}

.Button4:hover,
.Button4:focus {
   background-color: #aaa;
   
}

.Button5 {
   font-size: 3em;
   width: 70%;
   height: 30%;
   border-radius: 12px;
   background-color: #84f0e1;
   border: 4px solid grey;

}

.Button6 {
   padding: 10px 95px;
   /* background-color: #417cef; */
   border: 0;
   font-size: 16px;
   border-radius: 3px;
   font-family: Montserrat, sans-serif;
   background-color: #00a894;
   margin-top: 0px;
   border: 3px solid #acece5;
   transition: background-color 0.1s ease-out;
   cursor: pointer;

}

.Button7 {
   padding: 9px 118px;
   /* background-color: #417cef; */
   border: 0;
   font-size: 18px;
   border-radius: 3px;
   font-family: Montserrat, sans-serif;
   background-color: #00a894;
   margin-top: 15px;
   border: 2px solid #acece5;
   transition: background-color 0.3s ease-out;
   cursor: pointer;
}

.Button7:hover,
.Button7:focus {
    background-color: #acece5;
}



.Button6:hover,
.Button6:focus {
   background-color: #acece5;
   color: #acece5;
}


.Button5:hover,
.Button5:focus {
   background-color: #d9f1ff;
}

.danger-error {
    color: #e74c3c;
    font-size: 16px;
}

//Password
.password-state {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.pwd {
    height: 6px;
    flex: 1;
    visibility: hidden;
}

.pwd-weak {
    background-color: #e74c3c;
}

.pwd-medium {
    background-color: #3498db;
}

.pwd-strong {
    background-color: #2ecc71;
}

.show {
    visibility: visible;
}