* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  outline-color: linear-gradient(180deg,#f05a28,#e80a89);
} */

a {
  color: #333;
  text-decoration: none;
}
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins,sans-serif;
  height: 100%;
  /* outline-color: linear-gradient(180deg,#f05a28,#e80a89); */

  }

#main2 {
  color: grey;
  margin: 0 70px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 2.0fr;
}

#main2 .main-text {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
}

/*
span {
  border-bottom: 2px solid #009688;
}
*/

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}