.App {
  text-align: center;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
/* //code (above) The * means "all elements"
 (a universal selector), so we are setting all elements
  to have zero margins, and zero padding, thus making them
   look the same in all browsers. */



body {
  margin: 0;
  font-family: Poppins,sans-serif;
  height: 100%;
  }

a {
  list-style: none;
  color: #84f0e1;
  text-decoration: none;
  display: flex;
  font-size: 1.2rem;
  padding: 0 1rem;
  float: left;
  }
/* // the code (above) is for items placed within the Toolbar */




.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 1 1rem;
  list-style: none;
  }

/* // code (above) where all the items are place on Toolbar ,  flex= left to right, and aligning the items to center, the container expands items
to fill available free space or shriks them to prevent overflow. is the space inside your element.   Padding= top/bottom and left/right. */


.toolbar_navigation-items a {
  color: #84f0e1;
  text-decoration: none;
  display: flex;
}
/* //code (above) for the display location (next to each other) and also the color of nav items. */


.toolbar__logo a:hover,
.toolbar__logo a:active {
    color: white;
}
/* // when the toolbar logo (word Timely) is hovered over it will highlight to white. */


.toolbar_navigation-items a:hover {
  color: white;
}
/* //code above is for when toolbar navigation 
items are hovered with cursor they turn white, and return to original color when cursor is removed. */

html {
  height: 100%;
}

.toolbar1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  height: 75px;
  border: #00baa5;
  border-style: ridge;
  }
/* // code (above) for Toolbar itself positioning it in the top left corner, with no spacing, It's relative to its normal positon.  color, 
border color and border style are given along with it's height on the page. */

.toolbar__logo {
  margin-left: 0.2rem;
  }
/* //Code (above) for Our styled Logo on Toolbar.  rem = "root em" provides a way to 
specify lengths as fractions of the root elements font size, the font size of the <html> element*/


.toolbar__logo a {
  color: #84f0e1;
  text-decoration: none;
  font-size: 2.7rem;
}
/* Code (above) for (Word) Timely on Toolbar */


  
.spacer {
  flex: 1;
}
   /* // code (above) spaces the navigation links on Toolbar to the far right */

.image1 {
  max-width: 3.8em;
  align-items: bottom;  
}
/* // code (above) for our custom Logo on Toolbar */

.tspan {
  padding: 0.4em;
  margin-right: 1; 
  align-items: center;
}
/* // code (above) for the space between Timely and our custom Logo on Toolbar */


#main2 {
  
  background-color: white;
  margin: 50px;
  border: #00baa5;
  display: inline-flex;
  grid-template-columns: 2fr 2fr;
  height: 50vh;
  padding: 45px px;
}
/* // code (above) for area paragraph is in on home/landing page */

#main2 .main-text {
  color:grey;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
}
/* //code (above) for our paragraph in home page/landing */


label {
  position: block;
  display: block;
  margin-top: 15px;
  height: 100%;
  }
 /* //code above for the login and register labels */

.card-container.card {
  max-width: 420px !important;
  padding: 70px 35px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 120px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
/* // codes above are for the place holder forms in login and register pages. */



/* //code below minimum with will display nothing. */
/* //Will not have it on large screens, but will have on small screens. */
@media (min-width: 769px) {
  .toolbar__toggle-button {
      display: none;
  }
}

/* //below this mark display to none.  They will only show on larger size. */
@media (max-width: 768px) {
  .toolbar_navigation-items {
      display: none;
  }
}