.App {
  text-align: center;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

body {
  margin: 0;
  font-family: Poppins,sans-serif;
  height: 100%;
  /* outline-color: linear-gradient(180deg,#f05a28,#e80a89); */

  }

a {
  list-style: none;
  color: #84f0e1;
  text-decoration: none;
  display: flex;
  font-size: 1.2rem;
  padding: 0 1rem;
  float: left;
  
}
/* // the code (above) also for items within the Toolbar */




.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 1 1rem;
  list-style: none;
  
}

/* // code (above) where all the items are place on Toolbar */



#toolbar_navigation-items {
  padding: 0 1rem;
  float: left;
  font-size: 1.5rem;
  color: #84f0e1;
}

.toolbar_navigation-items li {
  padding: 0 1rem;
  float: left;
  font-size: 1.5rem;
  color: #84f0e1;
}

.toolbar_navigation-items a {
  color: #84f0e1;
  text-decoration: none;
  display: flex;
}

.toolbar__logo a:hover,
.toolbar__logo a:active {
    color: white;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color: white;
}


html {
  height: 100%;
}

.toolbar1 {
  visibility: visible;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  height: 75px;
  border: #00baa5;
  border-style: ridge;
  
}

.toolbar__logo {
  margin-left: 0.2rem;
  
}
/* //Code (above) for Our styled Logo on Toolbar */


.toolbar__logo a {
  color: #84f0e1;
  text-decoration: none;
  font-size: 2.7rem;

}

/* Code (above) for (Word) Timely on Toolbar */


  
.spacer {
  flex: 1;
}
   {/* // code above spaces the navigation links on Toolbar to the far right */}

.image1 {
  max-width: 3.8em;
  align-items: bottom;
  
}
/* // code (above) for our custom Logo on Toolbar */

.tspan {
  padding: 0.4em;
  margin-right: 1; 
  align-items: center;

}
/* // code (above) for the space between Timely and our custom Logo on Toolbar */


#main2 {
  
  background-color: white;
  margin: 50px;
  border: #00baa5;
  display: inline-flex;
  grid-template-columns: 2fr 2fr;
  height: 50vh;
  padding: 45px px;
}

/* // code (above) for area paragraph is in on home/landing page */

#main2 .main-text {
  color:grey;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
}
/* //code (above) for our paragraph in home page or landing */


label {
  position: block;
  display: block;
  margin-top: 15px;
  height: 100%;
  
}

.card-container.card {
 
  max-width: 420px !important;
  padding: 70px 35px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 120px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/* //minimum with will display nothing. */
/* //Will not have it on large screens, but will have on small screens. */
@media (min-width: 769px) {
  .toolbar__toggle-button {
      display: none;
  }
}

/* //below this mark display to none.  They will only show on larger size. */
@media (max-width: 768px) {
  .toolbar_navigation-items {
      display: none;
  }
}