.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #222;
    height: 75px;
    border: #00baa5;
    border-style: ridge;
    
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 2rem;
  
}
/* //spacing between hamburger icon and logo */
.toolbar__logo {
    margin-left: 1.0rem;
    
}

.toolbar__logo a {
    color: #84f0e1;
    text-decoration: none;
    font-size: 2.5rem;

}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 0 1rem;
    float: left;
    font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.toolbar_navigation-items a {
    color: #84f0e1;
    text-decoration: none;
    display: flex;
}

.image1 {
    max-width: 4em;
    align-items: bottom;
    

}

.tspan {
    padding: 0.6em;
    margin-right: 1; 
    align-items: center;
    
     
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color: white;
}
/* //below this mark display to none.  They will only show on desktop. */
@media (max-width: 768px) {
    .toolbar_navigation-items {
        display: none;
    }
}

/* //minimum with will display nothing. */
/* //Will not have it on large screens, but will have on small screens. */
@media (min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }
}
 .toolbar__logo {
     margin-left: 1;
 }

